@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
*{
    margin: 0px;
    box-sizing: border-box;
    font-family: "Roboto";
}

body{
    background: white;
    color: #19304F;
    height: 500px;
    margin: 11px;
    display: flex;
}


#imagem-redonda{
    height: 120px;
    width: 120px;
    border-radius: 50%;
    margin: 11px;
}

.conteudo{
    display: table;
}

.foto{
    display: table-cell;
    float: left;
}

.titulo{
    display: table-cell;
    float: left;
    width: 300px;
    margin-top: 50px;
    margin-left: 11px;
}

main {
    width: 50vw;
    display: flex;
    flex-direction: column;
    margin-top: 11px;
    margin-left: 100px;
    margin-right: 11px;
    padding: 2rem 4rem;
}

section{
    width: 50vw;
    display: flex;
    flex-direction: column;
    align-items: left, center;

}

main h1{
    font-size: 20px;
}

.titulo p{
    font-size: 16px;
    margin-top: 6px;
    margin-bottom: 0px;
}


.perfil p{
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 36px;
    color: #222222;
}


.educação ul{
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 36px;
    color: #222222;
}

.projetos ul{
    margin-top: 10px;
    line-height: 20px;
    margin-bottom: 36px;
    color: #222222;
}

#link1,#link2{
    color: #19304F;
}

.contatos p{
    margin-top: 11px;
    line-height: 15px;
    color: white;
    line-height: 20px;
}

.contatos{
    text-align: left;
    color: white;
    margin-top: 11px;
    margin-left: 11px;
}
.rede-social{
    position: absolute;
    right: 0px;
}

.conhecimentos{
    text-align: left;
    margin-top: 100px;
    color: white;
    margin-left: 11px;
    margin-bottom: 1000px;
}

.conhecimentos p{
    margin-top: 11px;
    color:white;
    border-bottom: solid;
    line-height: 18px;
}


a img {
    margin-right: 0px;
    float: left;
    width: 25px;
    margin-top: 22px;
    margin-left: 11px;
}

a:first-child img {
    margin-right: 0;
    width: 25px;
    margin-top: 11px;
}

.coluna{
    width: 300px;
    height: 75vw;
    background-color: #19304F;
    margin-right: 0px;
    margin-left: 100px;
}

.footer{
    text-align: right;
    margin-top: 50px;
}

.conhecimentos, .contatos, .rede-social{
    text-align: left;
    margin-left: 20%;
    margin-top: 100px;
}

@media only screen and (min-width: 768px) and (max-width: 1200px){
    .coluna{
        margin-left: 11px;
    }

    main{
        margin-left: 1vw;
    }
}

@media only screen and (max-width: 768px){
    .coluna{
        margin-left: 11px;
    }
    main{
        margin-left: 1vw;
    }
    .conhecimentos, .contatos, .rede-social{
        text-align: left;
        margin-left: 5%;
        margin-top: 100px;
    }

    .conhecimentos, .contatos, .rede-social{
        text-align: left;
        margin-left: 20%;
        margin-top: 100px;
    }
}

